# Nuget: http://docs.nuget.org/consume/package-restore#omitting-packages-from-source-control
## Ignore NuGet Packages
*.nupkg
## Ignore the packages folder
**/packages/*
## except build/, which is used as an MSBuild target.
!**/packages/build/
## Uncomment if necessary however generally it will be regenerated when needed
!**/packages/repositories.config

# mspack c code ignores
lib/libmspack/config.h
lib/libmspack/mspack/config.h
lib/libmspack/mspack/mspack.dll
lib/libmspack/mspack/mspack.lib
lib/libmspack/mspack/mspack.exp
lib/libmspack/mspack/bin/*.*

# misc C# stuff
*.obj
*.suo
*.csproj.user
/src/.deploy
libmspack4n/bin/
libmspack4n/obj/
libmspack4ntest/bin/
libmspack4ntest/obj/
/.deploy
